/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* THis here Common CSS */
.bg-color{
    background-color: #f5f8ff;
}
.hide{
    display: none;
}
/* overlay */
.dark-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    width: 90%;
    margin: 0 auto;
}
main > section{
    width: 90%;
    margin: 5rem auto;
}
.d-flex{
    display: flex;
}
p{
    color: #7b7c80;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
}
/* Common CSS End */

/* This is Header Styles Start */
nav{
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.logo img{
    width: 5.5rem;
    cursor: pointer;
}
.navlinks{
    font-family: "Inter", sans-serif;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.navlinks li a{
    color: #8987A1;
    transition: all 0.4s ease-in-out;
}
.navlinks li a:hover{
    color:chocolate
}
.navlinks .home{
    color: black;
    font-weight: 600;
}
.cart{
    color: black;
}
/* This is Header Styles End */

/* Hero Styles Start */
.hero-section{
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
.hero-section .hero-content h1{
    font-size: 3.5rem;
    font-family: "Noto Serif", serif;
}
.hero-section .hero-content span{
    color: #e85907;
}
.hero-section .hero-img img{
    max-width: 35rem;
}
/* Hero Styles End */

/* Plants Section Styles Start */
.plants-content{
    max-width: 51rem;
    margin: 1rem auto;
}
.plants-content h1{
    text-align: center;
    font-size: 3rem;
    font-family: "Noto Serif", serif;
    margin: 0.8rem 0;
}
.plants-content h1 span{
    color: #e85907;
}
.plants-content p{
    text-align: center;
    width: 56rem;
    margin: 0 auto;
}
.plants-cards{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem 0;
}
.plants-card .img img{
    width: 100%;
}
.plants-card{
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Inter", sans-serif;
}
.plants-card .content{
    text-align: center;
    width: 100%;
}
.plants-card .content .name h4{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}
.price span{
    font-weight: 700;
    font-size: 1.3rem;
}
.btn{
    text-align: center;
    background-color: #e85907;
    padding: 14px 16px;
    width: 100%;
    border: none;
    margin-top: 1rem;
}
.btn a{
    color: white;
    font-size: 1rem;
}

/* Plants Section Styles End */

/* Plants Lover Styles Start */
.plants-lover{
    justify-content: space-between;
    align-items: center;
    gap: 0 4rem;
    padding-top: 4rem;
}
.plants-lover-right h1{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
}
.content ul{
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 1rem;
}
.content ul li{
    margin: 1.2rem 0;
}
ul li::marker{
    color: #7b7c80;
}
.plants-lover-left{
    position: relative;
}
.plants-lover-left img{
    max-width: 32rem;
}
.plants-lover-left .img2{
    position: absolute;
    right: -90px;
    top: -120px;
    width: 17rem;
}
.plants-lover-left .img2 img{
    width: 100%;
}
/* Plants Lover Styles End */

/* Deals Section Start */
.deals-content h1{
    text-align: center;
    font-family: "Noto Serif", serif;
    font-size: 3rem;
}
.deals-content h1 span{
    color: #e85907;
}
.deals-content p{
    max-width: 55;
    margin: 1rem auto;
    text-align: center;
}
.plants-shop{
    width: 100%;
}
.plants-shop-img{
    align-items: stretch;
    gap: 1.2rem;
}
.plants-shop-img .left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.left .img1 img,
.left .img2 img,
.right .img3 img
{
    border-radius: 1rem;
    display: block;
}
.left .img1,
.left .img2,
.right .img3{
    position: relative;
}
.left .img1 .img-content,
.left .img2 .img-content,
.right .img3 .img-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: "Noto Serif", serif;
    text-align: center;
    z-index: 2;
}
.left .img1 .img-content h3,
.left .img2 .img-content h3,
.right .img3 .img-content h3{
    color: white;
    font-size: 1.2rem;
    width: 16rem;
}
.left .img1 .img-content a,
.left .img2 .img-content a,
.right .img3 .img-content a{
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: center;
    margin-top: 0.8rem;
    display: block;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
/* Deals Section End */

/* Join Section Start */
.join-section{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.join-content{
    width: 50rem;
    margin: 1rem auto;
    text-align: center;
}
.join-content .join-title h1{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    margin: 1.3rem 0;
}
.subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
}
.subscribe input{
    width: 75%;
    height: 100%;
    padding: 16px 18px;
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    display: inline-block;
}
.subscribe input:focus{
    color: black;
    letter-spacing: 1px;
}
.subscribe-btn{
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e85907;
    height: 100%;
    transition: all 0.3s ease-in;
}
.subscribe-btn:hover{
    background-color: blueviolet;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.subscribe-btn a{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 100%;
}
/* Footer Styles Start */
footer{
    width: 90%;
    margin: 1rem auto 3rem;
    height: 15rem;
}
.footer-content {
    justify-content: space-between;
}
.footer-left{
    width: 22rem;
}
.footer-middle-1{
    width: 6rem;
    height: 15rem;
}
.footer-middle-2{
    width: 8rem;
    height: 15rem;
}
.footer-middle-1 ul,
.footer-middle-2 ul{
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}
.footer-middle-1 ul li a,
.footer-middle-2 ul li a{
    color: #6b7280;
    font-family: "Inter", sans-serif;
}
.footer-right{
    width: 13rem;
    height: 2.2rem;
    align-items: center;
    justify-content: space-between;

}
.footer-right img{
    cursor: pointer;
}
/* Footer Styles End */
/* Join Section End */

/* Responsive for Small Devices */
@media screen and (max-width:576px) {
    main > section{
        width: 100%;
        margin: 1rem auto;
    }
    nav{
        padding: 1rem 0;
    }
    .logo img{
        width: 4rem;
    }
    .navlinks li{
        display: none;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section 
    .hero-img img,
    .left .img1 img,
    .left .img2 img,
    .right .img3 img{
        width: 100%;
    }
    .hero-content,
    .plants-section,
    .plants-content p,
    .plants-lover,
    .plants-shop-img{
        width: 94%;
        margin: 1rem auto;
    }
    .hero-section .hero-content h1,
    .plants-content h1,
    .plants-lover-right h1,
    .deals-content h1{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .plants-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }
    .plants-card .content .name h4{
        margin-bottom: 0.2rem;
    }
    .price span,
    .plants-card .content .name h4{
        font-size: 1rem;
    }
    .btn{
    padding: 12px 14px;
    margin-top: 0.7rem;
    }
    .btn a{
        font-size: 0.8rem;
    }
    .plants-lover{
        flex-direction: column;
        padding-top: 0;
    }
    .plants-lover-left img{
        max-width: 100%;
        margin: 0.8rem 0;
    }
    .plants-lover-left .img2{
        display: none;
    }
    .deals-content p{
        padding: 0 1rem;
    }
    .plants-shop-img{
        flex-direction: column;
    }
    .join-content{
        width: 20rem;
    }
    .join-content .join-title h1{
    font-size: 1.3rem;
    margin: 1.3rem 0;
    }
    .join-section{
        height: 20rem;
    }
    footer{
        height: auto;
    }
    .footer-content{
        flex-direction: column;
        gap: 1rem;
    }
    p{
        font-size: 0.9rem;
    }
}

/* Responsive of Largest Devices */
@media screen and (min-width:1024px) {
    
}